@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333;
}

ul,
li {
    list-style: none;
}

ul:after {
    content: "";
    display: block;
    clear: both;
}

.clear:after {
    content: "";
    display: block;
    clear: both;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    color: #333;
}

/******************/
.mainbanner {
    width: 100%;
    margin: 0 auto;
    height: 400px;
    background: url(img/ban.jpg) no-repeat top center/ cover;
    position: relative;
}

.mainbanner h2 {
    color: white;
    font-size: 3rem;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    text-shadow: 1px 0 #666, 0 1px #666;
    opacity: 0;
}
section{
    background-color: #ffcb5c;
    padding: 100px 0;
    position: relative;
}
section:after{
    content: "";
    display: inline-block;
    width: 340px;
    height: 347px;
    position: absolute;
    top: 10%;
    left: 10%;
    background: url(img/bg.png) no-repeat;    
}
section:before{
    content: "";
    display: inline-block;
    width: 105px;
    height: 350px;
    position: absolute;
    top: 30%;
    left: 15%;
    background: url(img/logo-bg.png) no-repeat;
}
.inner {
    width: 1480px;
    height: 100%;
    margin: 0 auto;
    background:url(img/bg.jpg) top;
    border-radius: 50px;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 3px #ccc;
    box-sizing: border-box;
    padding: 100px;
}

.bar {
    width: 100%;
    height: 2px;
    background-color: orange;
    margin: 50px 0 30px;
}

.movie-main {
    width: 70%;
    margin: 0 auto;
}

.movie-main iframe {
    width: 100%;
    height: 700px;
}

.movie {
    width: 400px;
    float: left;
    display: none;
    margin: 30px 13px 0;
}

.movie-list iframe {
    width: 400px;
    height: 315px;
    display: block;
}

.movie .txt {
    border: 1px solid #eee;
    padding: 10px 20px 20px;
}

.movie .txt h4 {
    font-size: 16px;
}

.movie .txt p {
    margin-top: 20px;
    font-size: 15px;
    line-height: 1.2;
}

.load-more {
    border: 1px solid #FF8B00;
    width: 200px;
    height: 60px;
    line-height: 60px;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    color: #FF8B00;
}

.load-more:hover {
    background-color: #FF8B00;
    color: #fff;
}

